.media-bg {
  background-image: url(./images/media-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
}

.media-text:hover {
  color:aquamarine !important;
}

.merch-card:hover {
  transition: all 0.2s ease-in-out;
  transform:scale(1.02)!important;
}